.fila__asiento--libre{
  background-color: rgba(10, 10, 10, 0.3);
  color : white;
  padding: 10px;
  font-size: 25px;
}
.fila__asiento--ocupado{
  background-color: rgba(221, 12, 117, 0.3);
  color : blue;
  padding: 30px;
  font-size: 25px;
}
.d-flex {
  background-color: rgba(19, 226, 226, 0.3);
 }
 .d-grid {
  background-color: rgba(236, 240, 236, 0.3);
 }
 label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
  color: red;
}
input,
label {
  margin: .1rem 0;
  line-height: 5mm;
  block-size: 20px;
  margin-right: 0ch;
  width: 0px;
}
